<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="FormosDuombaze" connectionString="Data Source=vld.vic.lt;User Id=VALDUSKYRIUS;Password=hh2upcgp_;" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
