@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@Html.ActionLink("Ataskaitos", "Index", "StatistineAtaskaita")
@Html.ActionLink("Įkėlimas", "Index", "Ikelimas")
@Html.ActionLink("Įmonių administravimas", "Index", "ImoniuAdministravimas")