html, body {
    height: 100%;
    background: #efefef;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

table {
    border-collapse: collapse;
    text-align: center
}

html, h1, h2, h3, h4, h5, h6, body, form, th, td, p {
    margin: 0;
    padding: 0;
}

img {
    border: 0 none;
}

select {
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #206227;
    padding: 2px 4px;
}

map {
    display: none;
}

object, form {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: normal;
}

hr {
    margin: 4px 0px;
}

* {
    zoom: 1;
}

a {
    color: #206227;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

.button {
    cursor: pointer;
}

div.kaire-puse {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 196px;
}

div.desine-puse {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 196px;
    right: 0px;
}

div.logo-background {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 76px;
    width: 217px;
    background-image: url(img/linen-texture-logo.png);
    background-repeat: no-repeat;
}

div.logo {
    margin-left: 12px;
    width: 184px;
    height: 75px;
    position: relative;
}

    div.logo > img {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -35px;
        margin-top: -27px;
    }


div.top-bar {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    background-image: url(img/linen-texture-small.png);
    background-repeat: repeat-x;
    height: 29px;
}

div.content-wrapper {
    position: absolute;
    top: 29px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

div.content {
    margin: 7px 9px;
    padding: 15px;
    overflow: scroll;
}

.content-box {
    background: #FFFFFF;
    -moz-box-shadow: 0px 0px 8px 0px #ccc;
    -webkit-box-shadow: 0px 0px 8px 0px #ccc;
    box-shadow: 0px 0px 8px 0px #ccc;
}

div.menu-wrapper {
    position: absolute;
    top: 86px;
    left: 17px;
    right: 5px;
    bottom: 10px;
}

div.menu {
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 1px;
    right: 1px;
    background-color: #9FBBA2;
}

    div.menu > ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

        div.menu > ul > li {
            text-align: center;
            border-bottom: 1px solid #FFFFFF;
        }

            div.menu > ul > li a {
                display: block;
                padding: 10px;
            }

            div.menu > ul > li a {
                text-decoration: none;
            }

            div.menu > ul > li.active {
                background-color: #206227;
            }

            div.menu > ul > li:hover {
                background-color: #FFFFFF;
            }

            div.menu > ul > li.active a {
                color: #FFFFFF;
            }

            div.menu > ul > li.active:hover a {
                color: #206227;
            }

table {
    border-color: #9FBBA2;
    border: 1px;
}

tr.good {
    background-color: #FFFFFF;
}

.evil {
    background-color: #fedfe5;
}

tr.so-so {
    background-color: #fff9b0;
}

h1 {
    color: #206227;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 22px;
}

h2 {
    color: #206227;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
}

th {
    font-size: 12px;
    text-align: center;
    padding: 4px;
    background-color: #efefef;
    color: #000000;
    border: 1px solid #afafaf;
}

td {
    padding: 2px;
    font-size: 12px;
    border: 1px solid #afafaf;
}

table.wide th, table.wide td {
    padding: 7px 15px;
}

tr:hover {
    color: #000000;
    background-color: #9FBBA2;
}

td a {
    color: #206227;
}

tr:hover a {
    color: #000000;
}

table.kurimas {
    font-size: 14px;
    text-align: left;
    padding: 4px;
    background-color: #FFFFFF;
    color: #206227;
    border: none;
}

table.kurimas td {
    padding: 2px;
    font-size: 12px;
    border: none;
}
table.kurimas th {
    padding: 2px;
    font-size: 12px;
    border: none;
}

label {
}

ul.formu-tipai {
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
}

ul.formu-tipai li {
    display: inline-block;
    float: left;
    background-color: #9FBBA2;
    overflow: hidden;
}

ul.formu-tipai li.active {
    background-color: #FFFFFF;
}

ul.formu-tipai span.error-count {
    font-weight: bold;
    color: #FF0000;
}

ul.formu-tipai li a {
    width: 85px;
    height: 32px;
    padding: 4px 8px;
    display: inline-block;
    text-align: center;
}

ul.formu-tipai li a:hover {
    text-decoration: none;
}


.ataskaita tr:hover {
    background-color: transparent;
}

table.form-table {
    text-align: left;
}

table.form-table th, table.form-table td {
    padding: 2px 6px;
    border: none;
    background: none;
}

table.form-table th {
    font-weight: normal;
    text-align: left;
}

table.form-table tr:hover {
    background: none;
}
/*
.button {
	background:url(img/button-1.png) 0 0 repeat-x;
	border:1px solid #C9C9C9;
	-moz-border-radius:5px;
	border-radius:5px;
	height:21px !important;
	padding:0 15px;
	font-size:11px;
	color:#3F3F3F;
	cursor:pointer;
	display:block;
}
.button:hover { background:url(img/button-1.png) 0 -19px repeat-x; }
.button:active { background:url(img/button-1.png) 0 -38px repeat-x; }
    */
/*
.button {
	background:url(img/button-2.png) 0 0 repeat-x;
	border:1px solid #C9C9C9;
	-moz-border-radius:5px;
	border-radius:5px;
	height:25px !important;
	font-weight:bold;
	padding:0 15px;
	font-size:12px;
	color:#3F3F3F;
	cursor:pointer;
	display:block;
}
.button:hover { background:url(img/button-2.png) 0 -23px repeat-x; }
.button:active { background:url(img/button-2.png) 0 -46px repeat-x; }
.button.disabled { background:url(img/button-2.png) 0 -69px repeat-x; }*/

.button {
	background:url(img/button.png) 0 0 repeat-x;
	border:0 solid #C9C9C9;
	-moz-border-radius:5px;
	border-radius:5px;
	height:26px;
    line-height: 26px;
	padding:0 15px;
	font-size:13px;
	color:#FFF;
	cursor:pointer;
    display: inline-block;
    margin: 2px 4px;
}
.button:hover { background:url(img/button.png) 0 -32px repeat-x; }
a.button:hover { text-decoration: none; }
.button:active { background:url(img/button.png) 0 -64px repeat-x; }

table.vartotojai {
    margin-top: 10px;
}

.px-widget span.ui-button-text {
    padding: 0px 10px 0px 30px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
}

.dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0px 0 0 0px;
    display: none;
    overflow: visible;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;

    background: #206227 ;
    opacity: 0.7 /*url(img/linen-texture-small.png);*/
}

.dropdown ul li:hover {
    background: #9FBBA2;
}

.login-link {
    display: inline-block;
    height: 29px;
    line-height: 29px;
}

.dropdown a {
    display: block;
    height: 29px;
    line-height: 29px;
    margin: 0px 5px;
}

.dropdown a:hover {
    text-decoration: none;
}

.dropdown:hover .options {
    display: inline-block;
}

div.user-zone {
    position: absolute;
    right: 5px;
    top: 0px;
    text-decoration: none;
    list-style: none;
    font-size: 12px;
}

    div.user-zone a {
        color: #FFFFFF;
    }

.field-validation-error {
    color: #FF0000;
    font-weight: bold;
}