.table-1 thead td div {
    font-size: 11px;
    color: #526E84;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    cursor: pointer;
}

.info-block-1 .small-grey {
     padding:0 0 0 0;
    line-height: 13px;
}

.loader {
    display: none;
}

img.printer-photo {
    height: 127px;
}

.saving.saved {
	background:url(images/saved-bg.png);
	color:#000000;
}

.saving.error {
    background:url(images/error-bg.png);
    color:#000000;
}

.thumbs .block-list b {
    font-size: 19px;
}

.highcharts-tooltip {
    background-color: white;
    z-index: 100;
}

.brands .barholder {
    margin:2px 0 0 104px;
}

.long-graphic div {
    width: 100%;
}

.mcolor-1 {
    background-color: #4572A7;
}
.mcolor-2 {
    background-color: #AA4643; 
}
.mcolor-3 {
    background-color: #89A54E;
}
.mcolor-4 {
    background-color: #80699B;
}
.mcolor-5 {
    background-color: #3D96AE; 
}
.mcolor-6 {
    background-color: #DB843D; 
}
.mcolor-7 {
    background-color: #92A8CD; 
}
.mcolor-8 {
    background-color: #A47D7C; 
}
.mcolor-9 {
    background-color: #B5CA92;
}

.slider-1 a:hover.buble-1 {
    text-decoration: none;
}

.register-form .help-block {
    clear: both;
}

.three-widgets {
    margin-bottom: 20px;
}

.thumbs {
    margin-bottom: 20px;
}

.user-invitation {
    position: absolute;
    margin-top: 3px;
    left: 495px;
}

.cont-1, .cont-2,.cont-3{
    width: 1000px;
    margin: 0px auto;
    position: relative;
}

.register-form {
    margin-left: auto;
    margin-right: auto;
}

.register .logo {
    left: 424px;
}

.on-dash {
    background-color: transparent;
}

.on-dash .block-bw-1 {
    width: 45%;
}

.on-dash.big-item-1 .bar.small.color-7 {
    margin: 4px 0 4px 0;
}

.on-dash.big-item-1 .block-bw-1 b {
    font-size: 13px;
}

.on-dash.big-item-1 .block-bw-1 b strong {
    font-size: 14px;
    padding: 0 0 6px 0;
    white-space: nowrap;
}

.on-dash.big-item-1 .block-bw-1 {
    font-size: 10px;
    line-height: 16px;
}

.on-dash.big-item-1 .block-bw-1 span {
    font-size: 14px;
}
/*
input.inline-input-editable {
    margin: 0;
    color:#000;
}

input.inline-input-non-editable {
	background:transparent;
	border-color: rgb(240, 240, 240);
	box-shadow:0 0 0 rgba(0, 0, 0, 0.0);
	-webkit-box-shadow:0 0 0 rgba(0, 0, 0, 0.0);
	-moz-box-shadow:0 0 0 rgba(0, 0, 0, 0.0);
	-o-box-shadow:0 0 0 rgba(0, 0, 0, 0.0);
	margin:0;
    cursor: default;
}

input.light-borders {
    border-color: rgb(240, 240, 240);
}

.inline-input-ok {
    display: none;
}

.hover .inline-input-ok {
    display: block;
}
*/

#main-content {
    height: 100%;
}

.agent-download {
    margin: 6px 0 0 0;
    padding: 1px 5px 1px 7px;
    color: #A3E0FF;
}
.agent-download:hover {
    color: #A3E0FF;
}

.curr-state {
	width: 48%;
}
.curr-state .pdd {
	padding: 15px 20px 7px 23px
}
.curr-state .pdd,
.curr-state .pdd * {
	line-height: 15px;
	color: #808080;
}
.curr-state .pdd strong,
.curr-state .pdd strong * {
	color: #1f1f1f;
	font-weight: bold;
}
.curr-state .pdd span.red,
.curr-state .pdd span.red * {
	color: #fe1919;
}
.curr-state .pdd span.orange,
.curr-state .pdd span.orange * {
	color: #D15810;
}
.curr-state .pdd span.yellow,
.curr-state .pdd span.yellow * {
	color: #DECD13;
}
.curr-state .pdd span.green,
.curr-state .pdd span.green * {
	color: #84A04C;
}
.curr-state .pdd span.fs14,
.curr-state .pdd span.fs14 * {
	font-size: 14px;
	color: #1f1f1f;
	font-weight: bold;
}
.curr-state .block-top {
	padding-right: 8px;
	border-bottom: 1px solid #d4d4d4;
	-moz-box-shadow:inset 0 -5px 30px #eee;
	-webkit-box-shadow:inset 0 -5px 30px #eee;
	box-shadow:inset 0 -5px 30px #eee;
}

.block-top .grey-printer,
.block-top .colour-printer,
.block-top .grey-device,
.block-top .colour-device {
	float: right;
	font-size: 12px;
	padding: 21px 0 0 0;
	margin-top: 9px !important;
	background: url('images/small_dev_icons.png') 40% 0 no-repeat;
}
.block-top .grey-printer {
	background-position: 40% -45px;
}
.block-top .colour-printer {
	background-position: 40% -135px;
}
.block-top .colour-device {
	background-position: 40% -90px;
}
.curr-state h2 {
    background-position: 22px 70%;
    background-repeat: no-repeat;
	padding: 11px 10px 4px 56px;
	font-size: 15px;
	font-weight: bold;
	float: left;
}
.curr-state h2.red {
    background-image: url('images/red-down.png')
}
.curr-state h2.orange {
    background-image: url('images/orange-down.png')
}
.curr-state h2.yellow {
    background-image: url('images/yellow-up.png')
}
.curr-state h2.green {
    background-image: url('images/green-up.png');
    background-position: 13px 70%;
}

.curr-state ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.curr-state ul li {
	padding: 0 0 8px 12px;
	background: url('images/minus.gif') 0 8px no-repeat;
}
	
.curr-state h3 {
	background: #e9f8eb;
	font-size: 15px;
	font-weight: bold;
	padding: 4px 21px 2px 21px;
	border-top: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
}
.curr-state a.dev-link {
	color: #087dbc !important;
	padding: 0 15px 0 0;
	background: url('images/arr_blue_r.gif') 100% 50% no-repeat;
	text-decoration: underline !important;
}
.curr-state a.dev-link:hover {
	text-decoration: none !important;
}
.curr-state .sugg-left {
	float: left;
	width: 75%;
}
.curr-state .sugg-right {
	float: right;
	text-align: center;
	max-width: 22%;
}
.curr-state .sugg-right .print-t {
	font-size: 15px;
	font-weight: bold;
	color: #464646;
	padding-top: 3px;
	padding-left: 18px;
}


.big-item-1 .block-bw-1 {
	-moz-box-shadow: 0 3px 1px #c7c7c7;
	-webkit-box-shadow: 0 3px 1px #c7c7c7;
	box-shadow: 0 3px 1px #c7c7c7;
}
.block-bw-1 .cor {
	-moz-box-shadow: 2px 0 1px #ffffff;
	-webkit-box-shadow: 2px 0 1px #ffffff;
	box-shadow: 2px 0 1px #ffffff;
}

.color-colls-1 div.fr div.block {
	padding-bottom: 4px;
	line-height: 16px;
}
.grey-device,
.colour-device,
.grey-printer,
.colour-printer {
	text-align: center;
	padding: 27px 0 0 0;
	margin: 8px auto 0 auto !important;
	font-size: 16px;
	font-weight: bold;
	background-position: 23% 0;
}
.grey-device,
.colour-device {
	background-position: 40% 0;
}

/* popup */
.popup {
	width: 590px;
	position: fixed;
	top: 0;
	left: 50%;
	z-index: 9999;
	margin-left: -295px;
	-moz-box-shadow: 0 0 40px #b6b6b6;
	-webkit-box-shadow: 0 0 40px #b6b6b6;
	box-shadow: 0 0 40px #b6b6b6;
	border: 1px solid #cfcfcf;
	border-top: none;
	-webkit-border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	border-radius:0 0 4px 4px;
}
.popup.popup_success {
	background: #effff1;
}
.popup.popup_alert {
	background: #fff8fa;
}
.popup.popup_notify {
	background: #ffffff;
}
.popup_close {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 16px;
	height: 15px;
	background: url('images/popup_close.png') 0 0 no-repeat;
}
.popup_close:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.popup .popup_pad {
	padding: 15px 30px 20px 30px;
}
.popup .popup_pad,
.popup .popup_pad * {
	color: #464646;
	font-size: 12px;
}
.popup .popup_pad h2 {
	color: #8ab339;
	font-size: 19px;
	font-weight: bold;
	padding-bottom: 4px;
}
.popup.popup_alert .popup_pad h2 {
	color: #fe0000;
}
.popup.popup_notify .popup_pad h2 {
	color: #464646;
}
/* popup */

.period {
	padding: 0 0 10px 0;
	text-align: center;
	background: url('images/dot_gray.gif') 0 9px repeat-x;
}
.period .bg_l {
	background: url('images/period_line.gif') 0 9px no-repeat;
}
.period .bg_r {
	background: url('images/period_line.gif') 100% -40px no-repeat;
}
.period a {
	color: #8d8d8d;
	border: 1px solid #e9e9e9;
	background: #ffffff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	font-size: 11px;
	line-height: 14px;
	padding: 0 7px;
	margin: 0 5px;
	text-decoration: none !important;
}
.period a:hover,
.period a.act {
	color: #3f3f3f;
	background: #eaeaea;
	border: 1px solid #d6d6d6;
	-moz-box-shadow:inset 0 1px 1px #d6d6d6;
	-webkit-box-shadow:inset 0 1px 1px #d6d6d6;
	box-shadow:inset 0 1px 1px #d6d6d6;
}

.block-white {
	background-color: #ffffff;
}
.long-graphic.with-label {
	width: 82%;
	float: left;
}
.graphic-label {
	width: 15%;
	float: right;
	padding: 10px 0 5px 0;
	margin-right: 15px;
}
.graphic-label,
.graphic-label * {
	font-size: 12px;
	line-height: 17px;
}
.graphic-label h3 {
	font-size: 13px;
	line-height: 16px;
	font-weight: bold;
	padding-bottom: 5px;
	padding-right: 15px;
}
.graphic-label table td {
	padding-right: 2px;
	padding-left: 2px;
}
.graphic-label table img {
	margin: 2px 0 0 0;
}

.dash-widget-help-link {
    float: right;
}

dl.billing-info, dl.account-status {
	clear: both;
	float: none;
 	overflow:hidden;
}
dl.billing-info dt, dl.billing-info dd,
dl.account-status dt, dl.account-status dd {
	float: left;
	padding-bottom: 5px;	
}

dl.billing-info dt,
dl.account-status dt {
	clear: both;
	width: 150px;
}

.table-payment-history {
	margin-top: 10px;
}

.table-payment-history th,
.table-payment-history td {
	border-left: 0;
	padding: 8px 20px 8px 20px;
}

.account-termination-warning {
    display: block;
    margin-bottom: 10px;
}

.table-payment-history caption + thead tr th:first-child,
.table-payment-history caption + tbody tr th:first-child,
.table-payment-history caption + tbody tr td:first-child,
.table-payment-history colgroup + thead tr th:first-child,
.table-payment-history colgroup + tbody tr th:first-child,
.table-payment-history colgroup + tbody tr td:first-child,
.table-payment-history thead tr th:first-child,
.table-payment-history tbody tr th:first-child,
.table-payment-history tbody tr td:first-child {
	border-left: 1px solid #dddddd;
}
.table-payment-history caption + thead tr th:last-child,
.table-payment-history caption + tbody tr th:last-child,
.table-payment-history caption + tbody tr td:last-child,
.table-payment-history colgroup + thead tr th:last-child,
.table-payment-history colgroup + tbody tr th:last-child,
.table-payment-history colgroup + tbody tr td:last-child,
.table-payment-history thead tr th:last-child,
.table-payment-history tbody tr th:last-child,
.table-payment-history tbody tr td:last-child {
	text-align: right;
}
hr.separator {
	display: block;
	margin: 2px 0 15px 0;
	border: 0;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #ffffff;  
}

.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-block + .btn-block {
  margin-top: 5px;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

.row-terminate {
	width: auto !important;
}
.row-terminate .span8 p {
	line-height: 180%;
	margin-bottom: 0px;
}
.outlink-middle {
	background-position: right !important;
}

.selection-form {
    margin: 0px auto;
    width: 640px;
    padding:0 0 20px 0;
    /*position: absolute;*/
    /*left: (1000 - 640) / 2*/
}
.selection-form b {
	display:block;
	text-align:center;
	color:#33444D;
	font-size:26px;
	font-weight:bold;
	padding: 20px 0 30px 0;
	text-transform:uppercase;
}
.selection-form .bg-1 {
	padding: 30px 0 0 0;
}
.selection-form p {
	font-size: 18px;
	line-height: 150%;
	text-align: center;
	padding-bottom: 25px;
	color: #4C4C4C;
}
.selection-form .tac {
	padding: 30px;
}
.selection-form .tac div {
	padding-top: 3px;
}
.selection-form .button-4 {
	width: 210px;
	height: 36px !important;
}

.well-left-custom {
	background-color: #E7E7E7 !important; 
	margin: 0 10px;
	border-color: #D2D2D2;
	padding: 12px 15px;
}


#widget-mibson-points {
	text-align: center;
	padding: 20px 0 30px 0;
}
.mibson-top {
	padding: 0 20px;
	text-transform: uppercase;
	color: #383838;
	font-size: 15px;
	line-height: 20px;
    font-weight: bold;
}
.mibson-container {
	position: relative;
}
.mibson-arrow {
	position: absolute;
	right: -1px;
	top: 50%;
	height: 70px;
	width: 24px;
	margin-top: -35px;
	background: url('images/mibson-circle-arrow.png') no-repeat right center;
}
.mibson-circle {
	width: 90px;
	height: 90px;
	background: url('images/mibson-circle-bg.png') no-repeat center center;
	margin: 15px auto;
	position: relative;
	color: #fff;
	font-weight: bold;
}
.mibson-circle .mibson-points {
	position: absolute;
	top: 45%;
	left: 0;
	font-size: 40px;
	line-height: 40px;
	margin-top: -20px;
	width: 90px;
	padding: 0;
}
.mibson-circle .mibson-points-sufix {
	font-size: 12px;
	line-height: 12px;
	height: 12px;
	padding: 0;
}
.mibson-bottom {
	padding: 0 20px;
	font-size: 12px;
	text-transform: uppercase;
}


#widget-dashboard-header {
	position: relative;
}
h2.dash-header {
	font-size: 18px;
	margin: 15px 0 15px 10px;
	color: #909090;
	text-transform: uppercase;
}
.dash {
	margin-bottom: 10px;
}
.dash td {
	vertical-align: bottom;
}
.dash-left {
	padding-top: 20px;
	width: 50%;
}
.dash-right {
	padding-bottom: 0;
	width: 50%;
}
.mibson-box {
	margin: 5px 25px 15px 10px;
	background: #ffffff;
	border: 1px solid #cbcbcb;
	font-size: 12px;
	text-transform: uppercase;
	text-align: left;
	color: #383838;
	padding: 12px;
	height: 60px;
}
.mibson-box td {
	vertical-align: middle;
}
.mibson-box-left {
	width: 130px;
	padding: 0 15px;
}
.mibson-box-circle {
	width: 70px;
	text-align: center;
	vertical-align: top;
}
.mibson-circle-small {
	width: 70px;
	height: 70px;
	background: url('images/mibson-circle-bg-small.png') no-repeat center center;
	position: absolute;
	top: -5px;
	left: 160px;
	color: #fff;
	font-weight: bold;
}
.mibson-circle-small .mibson-points {
	font-size: 32px;
	line-height: 32px;
	width: 70px;
	position: absolute;
	top: 40%;
	left: 0;
	margin-top: -16px;
}
.mibson-circle-small .mibson-points-sufix {
	font-size: 10px;
	line-height: 10px;
	height: 10px;
	padding: 0;
}
.mibson-box-right {
	padding: 0 15px;
}
.thumbs ul { /* !!! pakeist esama css !!! */
	width: auto;
}
ul.block-list { /* !!! pakeist esama css !!! */
	list-style: none;
	padding: 0;
	margin: 0;
}
.dash-block {
	padding: 0 0 0 25px;
	margin: 0;
	border-left: 1px solid #d1d1d1;
}
.block-list-right {
	float: right;
}
.dash-lay {
	display: block;
	float: none;
}
.left {
	float: left;
}
.text-right {
	text-align: right;
}
.clearb {
	clear: both;
	height: 0;
}

.dash-help {
	position: absolute;
	bottom: 10px;
	left: 10px;
}
a.icon-help {
	width: 22px;
	height: 22px;
	display: block;
	background: url('images/icon-help.png') no-repeat center center;
	cursor: pointer;
}
#alerts-content {
	padding: 15px;
}
table.alerts {
	width: 100%;
	margin-bottom: 15px;
}
.alerts-heading {
	margin-top: 15px;
}
.alerts-heading h3 {
	padding-left: 10px;
}
.alerts-heading td {
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	background: #fafafa;
	line-height: 30px;
}
.alerts-left {
	width: 300px;
	vertical-align: top;
	padding: 0 20px 0 5px;
	line-height: 32px;
}
.alerts-middle {
	width: 100px;
	vertical-align: top;
	padding: 2px 10px 0px 0;
	line-height: 32px;
}
.alerts-right {
	vertical-align: top;
	line-height: 24px;
	padding-top: 4px;
}
.alert-label {
	display: inline-block;
	zoom: 1;
	*display: inline;
	line-height: 32px;
}
.zen-label {
	margin: 0;
	display: block;
	border: 1px solid #e4e4e4;
	line-height: 24px;
	margin: 2px 0;
	border-radius: 4px;
	text-align: center;
	background: #fafafa;
	box-shadow: inset 0px 1px 1px #e4e4e4;
}
.alerts .alerts-input-text {
	margin: 0;
	width: 60px;
}
.alerts .alerts-input-mail {
	width: 100px;
	margin: 0 0 0 10px;
}
.add-mail {
	font-size: 11px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}
a.add-link {
	padding: 3px 5px 0 5px;
}
a.mail-rec {
	color: #333;
	padding: 0 5px 0 0;
	margin-left: 5px;
}
a.mail-rec:hover {
	padding: 0 5px 0 10px;
	color: #08C;
	text-decoration: none;
	background: url('images/icon-remove.png') no-repeat left 60%;
}
.alerts-separator {
	height: 1px;
	background: #dddddd;
	display: block;
	padding: 0 5px;
	margin-bottom: 15px;
}
.alert-faded,
.alert-faded a,
.alert-faded input,
.alert-faded .zen-label {
	color: #c3c3c3;
	border-color: #f6f6f6
}

table.alerts tr:hover td {
	background: #f7f7f7;
}
