@using MvcContrib.UI.Grid
@model IEnumerable<StatistinesAtaskaitos.Models.Forma42>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}
    <table>
        <tr>
            <th>Pavadinimas</th>
            <th>Kodas</th>
            <th>Suma</th>
        </tr>
        @foreach(var imones42 in Model)
        {
            <tr>   
                <td>@imones42.Pavadinimas</td>
                <td>@imones42.Kodas</td>
                <td>@Html.DisplayFor(x => imones42.Suma)</td>

            </tr>       
        }
    </table>