@using MvcContrib.UI.Grid
@model IEnumerable<StatistinesAtaskaitos.Models.Forma2>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}
    <table>
        <tr>
            <th>Pavadinimas</th>
            <th>Kodas</th>
            <th>Kiekis</th>
        </tr>
        @foreach(var imones2 in Model)
        {
            <tr>   
                <td>@imones2.Pavadinimas</td>
                <td>@imones2.Kodas</td>
                <td>@Html.DisplayFor(x => imones2.Kiekis)</td>
            </tr>       
        }
    </table>
